<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <br>
    <div class="row center">
      <div class="col l6 m8 s10 offset-l3 offset-m2 offset-s1 card-panel grey lighten-4 login">
        <h5>LOGIN</h5>
        <form method="post" ng-submit="login()" name="loginform">
          <div class="input-field col l8 m8 s12 offset-l2 offset-m2">
            <input type="email" class="validate" ng-model="user.email">
            <label>Email</label>
          </div>
          <div class="input-field col l8 m8 s12 offset-l2 offset-m2">
            <input type="password" class="validate" ng-model="user.password">
            <label>Password</label>
          </div>
          <div>
            <div class= "uiInputLabel clearfix uiInputLabelLegacy">
              <input id="persist_box" name="persistent" value="1" tabindex="3" class="uiInputLabelInput uiInputLabelCheckbox" type="checkbox">
              <label class="uiInputLabelLabel" for="persist_box">Stay signed</label>
            </div>
            <input type="hidden" value="0" name="default_persistent"></input>
          </div>
          <div class="input-field col l8 m8 s12 offset-l2 offset-m2">
            <button class="login-button btn waves-effect waves-light z-depth-0" type="submit" name="action">Log In</button>
          </div>
          <div class="input-field col s8 offset-s2">
            <h6 class="center-align">OR</h6>
          </div>
        </form>
        <div class="col l8 m8 s12 offset-l2 offset-m2">
          <button class="login-button btn indigo waves-effect waves-light z-depth-0"
                  type="submit" name="action" ng-click="authenticate('facebook')">
            <span class="fa-stack fa-lg">
              <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
            Log In with Facebook
          </button>
        </div>
        <div class="col l8 m8 s12 offset-l2 offset-m2">
          <button class="login-button oauth btn blue lighten-1 waves-effect waves-light z-depth-0"
                  type="submit" name="action" ng-click="authenticate('twitter')">
            <span class="fa-stack fa-lg">
              <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
            Log In with Twitter
          </button>
        </div>
        <div class="row center">

        </div>
      </div>
    </div>
    <div class="row center">

    </div>
    <br>
    <br>
  </div>
</div>
