<script>
  $(document).ready(function() {
    $('.tooltipped').tooltip({
      delay: 50
    });
  });
</script>

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <br>
    <div class="row center">
      <div class="col l6 m8 s10 offset-l3 offset-m2 offset-s1 card-panel grey lighten-4 login">
        <h5>Password Recovery</h5>
        <form method="post" ng-submit="passwordRecovery(RecoveryForm)" name="RecoveryForm" novalidate>
          <div class="input-field col l8 m8 s12 offset-l2 offset-m2">
            <input type="password" name="password" ng-model="user.password" ng-class="{ 'invalid': RecoveryForm.password.$invalid && RecoveryForm.password.$dirty, 'valid': RecoveryForm.password.$valid}" validate-password required>
            <label>Password</label>
            <div ng-if="RecoveryForm.password.$dirty" class="form-error" ng-messages="RecoveryForm.password.$error">
              <p ng-message="required">Password is required.</p>
              <p ng-message="minlength">Password must have al least 8 characters.</p>
              <p ng-message="lowercase">Password must have at least 1 lowercase character.</p>
              <p ng-message="uppercase">Password must have at least 1 uppercase character.</p>
              <p ng-message="digit">Password must have at least 1 digit (0-9)</p>
              <p ng-message="maxlength">Password must have at most 128 characters.</p>
              <p ng-message="pattern">Password is not valid.</p>
            </div>
          </div>
          <div class="input-field col l8 m8 s12 offset-l2 offset-m2">
            <button class="login-button btn waves-effect waves-light z-depth-0" ng-disabled="RecoveryForm.$invalid" type="submit" name="action">Change Password</button>
          </div>
        </form>
        <div class="row center">

        </div>
      </div>
    </div>
    <div class="row center">

    </div>
    <br>
    <br>
  </div>
</div>
